{% extends 'base.html.twig' %}

{% block title %}TP1{% endblock %}

{% block body %}
  <h1 class="display-2">Agence TourDSI22</h1>
  <p class="mb-0">Voici les destinations de reve vous avons réservées.</p>
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}